
th.mat-sort-header-sorted {
  color: black;
}

.center {
  display: flex;
  justify-content: center;
  }

  mat-toolbar {
    justify-content: space-between;
}

h1 {
  font-size: 4em; /* Adjust the size as needed */
}

.content {
    padding: 16px;
}

.content > mat-card {
    margin-bottom: 16px;
}

.align{
  width: 350px;
  align-items: center;
  padding-left: 50px;
}

.card-background{
  background-color: #EDEDED;
}


.zoom {
  transition: transform .3s; /* Animation */
}

.zoom:hover {
  transform: scale(1.07); 
}

.text-block {
  word-wrap: break-word;
  width: 270px;
}