<div class="container my-3">
  <h1 class="m-3">Trainings</h1>
  <button mat-raised-button color="primary" (click)="addNewTraining()" class="btn btn-outline-primary m-3 border" mat-button>Add new Training</button>
</div>
  
  
<div class="container">
  <div fxLayout="row wrap space-evenly" fxLayoutGap="25px grid">
    <div [fxFlex]="(100/3) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" class="zoom" *ngFor="let training of trainings">
      <mat-card class="mat-elevation-z19 border align card-background">
        <img style="height: 200px; width: 300px" class="mt-1 mh-200 mw-200" mat-card-image mat-card-s-image src={{imageUrl}}>
        <mat-card-content>
          <mat-card-title class="text-center fs-5 fw-bold">{{training.name}}</mat-card-title>
          <div class="text-block">
              {{training.description}}
          </div>
          <p style="display: inline-block;">
            <button mat-raised-button color="primary" class="btn btn-primary">Show</button>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>