.kursevi {
    width: 350px;
    margin: 30px 20px 20px 20px; /* Dodali smo dodatnu marginu na vrh */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
  }