<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Feedback</th>
        <th>Rating</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; let i = index" [class.table-primary]="i % 2 === 0">
        <td>{{ item.name }}</td>
        <td>
          <mat-form-field>
            <input matInput type="text"  [(ngModel)]="tablecandidates.feedback">
            <textarea matInput
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"></textarea>    
          </mat-form-field>
          
        </td>
        <td>
          <mat-form-field>
            <mat-label>Rating</mat-label>
            <mat-select [(ngModel)]="tablecandidates.rating">
              <mat-option *ngFor="let rating of ratings" [value]="rating.value">{{rating.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      <td>
       <input type="date" id="duration" name="duration" [(ngModel)]="tablecandidates.duration">
    </td>
        <td>
            <button class="btn btn-primary" (click)="saveItem()">Save</button>
          </td>
      </tr>
    </tbody>
  </table>
  